.mootocomplete-container {
    z-index:999;
    position:absolute;

    background:#eee;
    padding: 0;
    border:1px solid #ccc;

    width: 200px;
}

.mootocomplete-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mootocomplete-container ul li {
    cursor: pointer;
    border: 1px solid grey;
    padding: 5px;

}
.mootocomplete-container ul li:hover{
    font-weight: bold;
}

.mootocomplete-empty-value {
    font-style: italic;
    font-size: 12px;
    color: lightgrey;
    cursor: pointer;
}